<header class="mx-auto max-w-2xl text-pretty lg:mx-0">
  <h2 class="text-foreground text-4xl font-semibold tracking-tight sm:text-5xl">
    Notre mission : Réussir ensemble votre alternance
  </h2>

  <p class="text-secondary-foreground mt-6 text-lg/8">
    Créer un réseau solidaire d'alternants, donner de la visibilité aux talents, et faciliter la
    mise en relation avec des entreprises engagées dans la formation professionnelle.
  </p>
</header>
