---
import type { Item } from './types';

const { title, description, Icon } = Astro.props as Item;
---

<li class="flex gap-x-3">
  {Icon && <Icon class:list="text-primary h-[1lh] w-6 flex-none" />}
  <span>
    <strong class="text-foreground font-semibold">{title}.</strong>
    {description}
  </span>
</li>
