<ul class="mt-8 max-w-xl space-y-8">
  <li>
    <a
      href="https://www.service-public.gouv.fr/particuliers/vosdroits/F2918"
      class="text-primary hover:text-primary/60">Service Public - Contrat d'apprentissage</a
    >
  </li>

  <li>
    <a
      href="https://www.alternance.emploi.gouv.fr/accueil"
      class="text-primary hover:text-primary/60">Ministère du Travail - Portail de l'alternance</a
    >
  </li>

  <li>
    <a
      href="https://www.alternance.emploi.gouv.fr/explorer-lalternance"
      class="text-primary hover:text-primary/60">Explorer l'alternance</a
    >
  </li>
</ul>
