---
import NewsHeader from './news-header.astro';
import NewsList from './news-list.astro';
---

<section class="bg-background py-24 sm:py-32">
  <div class="container">
    <NewsHeader />

    <NewsList />
  </div>
</section>
