<div class="max-w-4xl">
  <div>
    <h1 class="text-4xl text-pretty sm:text-5xl">L'association</h1>

    <p class="text-secondary-foreground mt-6 text-xl/8 text-balance">
      La Ligue des Alternants est une association engagée pour la valorisation, la représentation et
      l'accompagnement des alternants en France. Elle vise à fournir un soutien concret à travers
      des ressources, des services, et un espace de dialogue.
    </p>
  </div>
</div>
