<section class="mt-32">
  <div
    class="bg-background ring-border mx-auto max-w-2xl rounded-3xl px-6 py-16 shadow-lg ring sm:p-8 lg:mx-0 lg:max-w-none lg:py-20 xl:px-20"
  >
    <h2 class="text-foreground text-4xl font-semibold tracking-tight text-pretty sm:text-5xl">
      Rejoindre la ligue
    </h2>

    <p class="text-muted-foreground mt-6 text-lg/8 text-pretty">
      Que vous soyez étudiant, formateur, employeur ou simplement curieux, vous pouvez nous
      rejoindre pour contribuer à faire grandir le mouvement.
    </p>

    <div class="mt-10">
      <a href="#" class="text-primary hover:text-primary/60 text-base font-semibold">
        Participer à l'aventure
        <span aria-hidden="true">→</span>
      </a>
    </div>
  </div>
</section>
