---
import { Activity } from '@lucide/astro';

import Section from '../ui/section.astro';

const objectives = [
  {
    title: 'Représentation',
    description: 'Les alternants sont représentés auprès des institutions et du public.',
  },
  {
    title: 'Réseau national',
    description: "Un réseau national favorise l'entraide et le partage d'expérience.",
  },
  {
    title: 'Outils',
    description: 'Des outils pratiques et utiles sont fournis aux alternants.',
  },
  {
    title: 'Partenariats',
    description:
      'Des partenariats sont établis avec des entreprises et établissements de formation.',
  },
  {
    title: 'Animation',
    description: 'La communauté est animée régulièrement sur les réseaux sociaux.',
  },
];
---

<Section title="Nos objectifs">
  <ul class="text-secondary-foreground mt-8 max-w-xl space-y-8">
    {
      objectives.map(({ title, description }) => (
        <li class="flex gap-x-3 text-base/7">
          <Activity class="text-primary h-[1lh] w-6 flex-none" />
          <span>
            <strong class="text-foreground font-semibold">{title}.</strong>
            {description}
          </span>
        </li>
      ))
    }
  </ul>
</Section>
